<ion-header>
  <ion-toolbar>
    <ion-title>
      My Anime List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner *ngIf="isLoading"></ion-spinner>

  <ion-item-group *ngIf="lista_animes.length > 0">
    <ion-list>
      <app-anime *ngFor="let anime of lista_animes" (click)="editar(anime)" [anime]="anime"></app-anime>
    </ion-list>
  </ion-item-group>

  <div *ngIf="!isLoading && lista_animes.length === 0" class="empty-state-container">
    <ion-icon name="sad-outline" class="empty-state-icon"></ion-icon>
    <p class="empty-state-text">Nenhum anime encontrado.</p>
  </div>

  <ion-fab color="light" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irParaCadastrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>